fieldset {
    background-color: yellowgreen;
    width: 40%;
    
    margin-top: 10px;
    margin: 0 auto;
    padding:5px;    
    width:600px;    
    line-height:1.8;   
    
    
    
  }
  .btn{
    background-color: #FD6569;
    color: black;
    border-radius: 100%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 50px;
    font-size: 20px;
    border: none;
    
    
  }
  h1{
    text-align: center;
  }
  
  
  
  input {
    margin: 1px;
  }

  